
<mat-expansion-panel>
	<mat-expansion-panel-header>
		Usługa nr 1
	</mat-expansion-panel-header>

	<div><strong>Zakres: </strong> lorem ipsum</div>
	<div><strong>Opis: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque
		sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet </div>

	<mat-action-row>
		<button mat-button>Zamów</button>
	</mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
	<mat-expansion-panel-header>
		Usługa nr 2
	</mat-expansion-panel-header>

	<div><strong>Zakres: </strong> lorem ipsum</div>
	<div><strong>Opis: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque
		sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet </div>

	<mat-action-row>
		<button mat-button>Zamów</button>
	</mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
	<mat-expansion-panel-header>
		Usługa nr 3
	</mat-expansion-panel-header>

	<div><strong>Zakres: </strong> lorem ipsum</div>
	<div><strong>Opis: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque
		sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet </div>

	<mat-action-row>
		<button mat-button>Zamów</button>
	</mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
	<mat-expansion-panel-header>
		Usługa nr 4
	</mat-expansion-panel-header>

	<div><strong>Zakres: </strong> lorem ipsum</div>
	<div><strong>Opis: </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque
		sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet </div>

	<mat-action-row>
		<button mat-button>Zamów</button>
	</mat-action-row>
</mat-expansion-panel>